<!DOCTYPE html>
<html>
  <body>
    <div>
      <p>Hello <%= @recipitent_name %>, <%= @sender_name %> has invited you to a meeting!</p>
      <p><%= @sender_name %> wrote:<br><%= @meetinginfo[:message] %></p>
      <p>
        Meeting description: <%= @meetinginfo[:topic] %>.
        Please join at <%= @meetinginfo[:start_time] %> <%= @meetinginfo[:timezone] %>.<br>
        The meeting will last for <%= @meetinginfo[:duration] %> minutes.
      </p>  
      <p>  
        <% if @meetinginfo[:password] != "" %>
          <%= "The password to join the meeting is: #{@meetinginfo[:password]}. Please do not share this password with anyone." %> 
        <% end %>
      </p>  
      <p href=https:/<%= @meetinginfo[:join_url] %> target="_blank">Press here to join the meeting!</p>
    </div>
  </body>
</html>