<style>
    body { font-family: Arial, sans-serif; }
</style>

<body>
<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
      <li>
      <div>
          <a href="<%= user_path(user) %>">
          Employee ID: <%= user.Name %>
      </div> 
<!--  <%= link_to "edit", edit_user_path(user) %>  -->
<!--  <%= link_to "Destroy", user, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>  -->
      </li>
  <% end %>
</ul>

<p>
  <%= link_to "New User", new_user_path %>
</p>

<p> 
<%= link_to "Go back", "/home" %> 
</p>
</body>