<% provide(:title, "User") %> 
<body>
<div class ="container">
    <%= yield %> 
</div>
<div class="centre jumbotron">
  <h1>EmployeeID: <%= @user.EmployeeID %></h1>

  <p>  
    Name: <%= @user.Name %><br>
    EmailAddress: <%= @user.EmailAddress %><br>
    Department: <%= @user.department.name%>
  </p>

  <div>
    <% if logged_in? %>
      <%= link_to "Edit", edit_user_path(@user) %><br>
      <%= link_to "Destroy", @user, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
    
    <%= link_to "Back", @user.department %>
  </div>
</body>