<style>
    body { font-family: Arial, sans-serif; }
</style>

<body>
<h1>EmployeeID: <%= @user.EmployeeID %></h1>

<p>Name: <%= @user.Name %></p>
<p>EmailAddress: <%= @user.EmailAddress %></p>
<p>Department: <%= @user.Department %></p>

<p><%= link_to "Go back", "/users" %></p>
</body>