<style>
    body { font-family: Arial, sans-serif; }
</style>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<body>
<h1>EmployeeID: <%= @user.EmployeeID %></h1>

<p>Name: <%= @user.Name %></p>
<p>EmailAddress: <%= @user.EmailAddress %></p>
<p>Department: <%= @user.Department %></p>

<li><%= link_to "Edit", edit_user_path(@user) %></li>
<li><%= link_to "Destroy", @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<p><%= link_to "Go back", "/users" %></p>
</body>