<% provide(:title, "Employees") %> 
<body>
  <div class="centre jumbotron">
    <h1>Departments</h1>

    <ul style="text-align:left;">
      <% @departments.each do |department| %>
        <li>
          <div>
            Name: <%= department.name %><br>
            ID: <%= department.id %>
          </div> 
          <div>
              <%= link_to "Details", department %><br>
          </div>
        </li>
        <% end %>
    </ul>

    <p>
      <%= link_to "New Department", new_department_path %>
    </p>

    <p> 
      <%= link_to "Back", "/home" %> 
    </p>
  </body>