<style>
    body { font-family: Arial, sans-serif; }
</style>

<% if flash[:notice] %>
  <div class="notice"; style="color:red";><%= flash[:notice] %></div>
<% end %>

<body>
<h1>Departments</h1>

<ul>
  <% @departments.each do |department| %>
    <li>
    <div>
        Name: <%= department.name %><br>
        ID: <%= department.id %>
    </div> 
    <div><br>
        <%= link_to "Details", department %><br>
    </div>
    </li>
    <% end %>
</ul>

<p>
  <%= link_to "New Department", new_department_path %>
</p>

<p> 
<%= link_to "Back", "/home" %> 
</p>
</body>