<html>
  <% provide(:title, "Meeting Records") %> 
  <body>
    <div class="centre jumbotron">
      <h1>Meetings</h1>
  
      <table>
        <tr>
          <th>ID</th>
          <th>Topic</th>
          <th>Host</th>
          <th>Department (Participants)</th>
          <th>Start Time</th>
          <th>Duration</th>
        </tr>
        
        <% @records.each do |meeting| %>
          <tr>
            <th><%= meeting.zoom_meeting_id %></th>
            <th><%= meeting.topic %></th>
            <th><%= User.find_by(EmployeeID: meeting.EmployeeID).Name %></th>
            <th><%= Department.find_by(id: meeting.department_id).name %></th>
            <th><%= meeting.start_time %></th>
            <th><%= meeting.duration %></th>
          </tr>
        <% end %>
      </table>

      <p> 
        <%= link_to "Back", request.referer || root_path %> 
      </p>
    </div>
  </body>
</html>