<%= form_tag do %>
  <%= csrf_meta_tags %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %> 

<% provide(:title, "New Meeting") %> 
<body>
<div class ="container">
    <%= yield %> 
</div>

<div class="centre jumbotron">
  <h1>Create New Meeting</h1>
  <div class='layouts'>
  <%= form_tag "/zooms2s/create_meeting", method: 'post', validate: true do %>
  
    <div>
      <%= label_tag :topic %>
      <%= text_field_tag :topic, "(max 200 chars)", class: "form-control" %>
      <small class="text-muted">Enter the topic of the meeting (optional)</small><br> 
    </div><br>

    <div>
      <%= label_tag :duration %>
      <%= number_field_tag :duration, nil, class: 'form-control'%>
      <small class="text-muted">Enter the duration in minutes</small><br>
    </div><br>
  
    <div>
      <%= label_tag :password %>
      <%= text_field_tag :password, "(max 10 chars)", class: 'form-control'%>
      <small class="text-muted">(optional)</small><br>
    </div><br>
    
    <div>
      <%= label_tag :type %><br>
      <%= radio_button_tag :type, '1', id: "Instant" %> 
      <%= label_tag :type, "Instant meeting", id: "Instant" %><br> 
      <%= radio_button_tag :type, '2', id: "Scheduled"  %>
      <%= label_tag :type, "Scheduled meeting", id:"Scheduled" %><br>
      <%= radio_button_tag :type, '3', id: "Recurring" %>
      <%= label_tag :type, "Recurring meeting (no fixed time)", id: "Recurring" %><br>
    </div><br>
    
    <div> 
      <%= label_tag :start_time %><br>
      <%= datetime_select :start_time, nil, class: 'form-control'%><br>
      <small class="text-muted">Enter only if meeting type is scheduled</small><br>
    </div><br>
    
    <div>
      <%= label_tag :timezone %><br>
      <%= radio_button_tag :timezone, 'UTC' %> 
      <%= label_tag :timezone, "UTC" %><br> 
      <%= radio_button_tag :timezone, 'GMT' %> 
      <%= label_tag :timezone, "GMT" %>
    </div><br>
    
    <div style="padding-left: 10%;">
      <%= submit_tag "Create Meeting", class: "btn btn-primary" %>
    </div>
  
  <% end %>
  </div>
</div>
</body>