<%= form_tag do %>
  <%= csrf_meta_tags %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %> 

<% provide(:title, "New Meeting") %> 
<body>
<div class ="container">
    <%= yield %> 
</div>
<div class="centre jumbotron">
  <%= form_tag "/zooms2s/create_meeting" do %>
    <div>
      <%= label_tag :Topic %>
      <%= text_field_tag :Topic, nil, class: "form control" %><br>
      <small class="text-muted">Enter the topic of the meeting (Max 200 chars)</small><br> 
    </div>

    <div>
      <%= label_tag :Duration %>
      <%= number_field_tag :Duration, placeholder: 'Enter duration', class: 'form-control'%><br>
      <small class="text-muted">Please enter the duration in minutes</small><br>
    </div>  
  
    <div>
      <%= label_tag :password %>
      <%= number_field_tag :password, placeholder: 'Enter Meeting Password (optional)', class: 'form-control'%><br>
      <small class="text-muted">Max 10 alphanumeric characters</small><br>
    </div>
    
    <div>
      <%= radio_button_tag :type, '1' %> 
      <%= label_tag :type, "Instant meeting" %><br> 
      <%= radio_button_tag :type, '2' %>
      <%= label_tag :type, "Scheduled meeting" %><br>
      <%= radio_button_tag :type, '3' %>
      <%= label_tag :type, "Recurring meeting (no fixed time)" %><br>
    </div>
  
    <%= submit_tag "Create Meeting", class: "btn btn-primary" %>
  <% end %>
</div>
</body>