<%= form_tag do %>
  <%= csrf_meta_tags %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %> 

<% provide(:title, "New Meeting") %> 
<body>
<div class ="container">
    <%= yield %> 
</div>
<div class="centre jumbotron">
  <%= form_for @meeting do |f| %>
    <%= f.label :Topic %>
    <%= f.text_field :Topic %>
    <small class="text-muted">Enter the topic of the meeting (Max 200 chars)</small>

    <%= f.label :Duration %>
    <%= f.number_field :Duration, placeholder: 'Enter duration', class: 'form-control'%>
    <small class="text-muted">Please enter the duration in minutes</small>
  
    <%= f.label :password %> 
    <%= f.number_field :password, placeholder: 'Enter Meeting Password (optional)', class: 'form-control'%>
    <small class="text-muted">Max 10 alphanumeric characters</small>
    
    <%= f.radio_button :type, '1' %> 
    <%= f.label :type, "Instant meeting" %> 
    <%= f.radio_button :type, '2' %>
    <%= f.label :type, "Scheduled meeting" %>
    <%= f.radio_button :type, '3' %>
    <%= f.label :type "Recurring meeting (no fixed time)" %>
  
  
    <%= f.submit %>
  <% end %>
</div>
</body>