<%= form_tag do %>
  <%= csrf_meta_tags %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %> 

<style>
    body { font-family: Arial, sans-serif; }
</style>

<body>
<%= form_for @meeting do |f| %>
  <%= f.label :Agenda %>
  <%= f.text_field :Agenda %>

  <%= f.label :Duration %>
  <%= f.number_field :Duration, placeholder: 'Enter duration', class: 'form-control'%>
  <small class="text-muted">Please enter the duration in minutes</small>
  
  
  <%= f.submit %>
<% end %>
</body>