<html>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Vanishing Funds", root_path, id: "Logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Employee Database", "/departments" %></li>
                <% if logged_in? %>
                    <li><%= link_to "Meeting Database",     '#' %></li>
                    <li><%= link_to "Create new meeting (S2S OAuth)", "/zooms2s" %></li>
                    <li><%= link_to "Retrieve OAuth Access Tok (test)", "/zoom" %></li>
                    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <% else %>
                    <li><%= link_to "Log in", "/login" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
  </header>
</html>