<html>
    <head> 
        <%= csrf_meta_tags %>
    </head>
    
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <%= link_to "Vanishing Funds", root_path, id: "logo" %>
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Employee Database", "/departments" %></li>
                    <% if logged_in? %>
                        <li><%= link_to "Meeting Database", '/meetings' %></li>
                        <li><%= link_to "Create new meeting", "/zooms2s/new_meeting" %></li>
                        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                    <% else %>
                        <li><%= link_to "Log in", "/login" %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </header>
</html>