<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'email' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class='logo-container', style="height: 5vh"><%= link_to "Vanishing Funds", '/', id: "logo" %></div> 
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer class="navbar navbar-inverse", style="text-align:center"> 
    <div class='logo-container', style='align-items: flex-start'>
      <%= link_to "Vanishing Funds Limited | Local Regional Bank", '/', id: "logo" %>   
      <small style='color: grey-light;', class='text-muted'>
          POWERED BY<br>
          <img alt="Zoom logo" width="40px" src="https://www.shsu.edu/dept/it@sam/tech-tutorials/zoom/images/zoom.png" ><br>
          <div><%= link_to "Log into Vanishing Funds here", "/login", target: '_blank' %></div>
      </small>  
    </div> 
  </footer>
  
</html>
