<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'email' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class='logo-container', style="height: 5vh"><%= link_to "Vanishing Funds", '/', id: "logo" %></div> 
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer class="navbar navbar-inverse", style="text-align:center"> 
    <div class='logo-container', style='align-items: flex-start'>
      <%= link_to "Vanishing Funds Limited | Local Regional Bank", '/', id: "logo" %>   
      <small style='color: grey-light;', class='text-muted'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque leo ac suscipit maximus. Aliquam egestas sodales sapien, ut scelerisque tellus accumsan cursus. Quisque odio velit, venenatis id porttitor quis, porta quis erat. Nulla pretium, purus ac dignissim mattis, felis lectus laoreet est, dignissim ultrices enim neque ac mauris. Vestibulum convallis, mauris vel vehicula euismod, ipsum mi tempor eros, et blandit lectus magna nec libero. Sed pretium ultrices sem. Nam molestie lacinia semper. Sed dictum lorem sed dolor porta consequat.<br><br>
          Suspendisse maximus non mauris a vulputate. Donec tempus euismod maximus. Praesent aliquet, augue id volutpat blandit, odio diam semper nisl, at semper lacus nisi nec turpis. Morbi faucibus, risus et porta viverra, urna tortor elementum tortor, vel ultricies libero enim vitae turpis. Aenean iaculis leo nec ultricies aliquam. Integer sapien diam, malesuada vel risus vel, dapibus commodo metus. Sed rhoncus vel sapien eu pulvinar. Integer euismod malesuada nisl, at luctus metus sodales vel. Vivamus mauris mi, tempor dignissim mi sed, imperdiet tempor dolor. Curabitur in turpis dui. Sed porta enim a laoreet tincidunt.<br><br><br><br>
          <div><%= link_to "Log into Vanishing Funds here", "/login" %></div>
      </small><br>  
    </div> 
  </footer>
</html>
